.etiqueta-pregunta {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.etiqueta {
    @apply block text-gray-500 font-bold mb-1 pr-4;
}

.control {
    @apply bg-gray-200 appearance-none 
        border-2 border-gray-200 rounded 
        w-full
        py-2 px-4 mb-4
        text-gray-700
        leading-tight;
}

.control:focus{
    @apply outline-none bg-white border-purple-500;
}