@media (max-width: 768px) {

    .hamburger:checked ~ .menu {
        display: none;
    }

    input:checked ~ label .mostrar {
        display: inline;
    }

    input:checked ~ label .ocultar {
        display: none;
    }

}