.tarjeta {
  position: absolute;
  transform: rotateX(10deg); 
  transform-style: preserve-3d;
  width: 50%;
}

.tarjeta .hojas {
  position: absolute;
  display: inline-flex;
  width: 100%;
  left: 100%;
  transform-origin: left;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.tarjeta .hoja {
  top: 0;
  display: inline-block;
  height: 100%;
  cursor: pointer;  
  border: 1px solid black;
}

.tarjeta .derecha {
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.tarjeta .izquierda {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg) translateZ(1px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
  
input:checked + .tarjeta .hojas {
  transform: rotateY(-180deg);
  transition: transform 2s;
}

.uno {
    z-index: 2;
}

.check {
    display: none;
}

.dos .tarjeta {
    transition-delay: 2s;
    z-index: 1;
}
  
.dos input:checked + .tarjeta {
    transition-delay: 0.1s;
    z-index: 10;
}